appdirs
msqlite
ismain
numpy
matplotlib
watchdog
PySide6
textual
pref
attrs
typeguard
# dev
textual-dev
# linters
black
flake8
mypy
# testing
pytest
pytest-cov
pytest-xdist
pytest-pycharm
flask
requests
# distribution
flit
hatch
